.form-container {
  position: relative;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(50px);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container img {
  display: block;
  margin: 0 auto;
}
.custom-shadow {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}
